body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: #f4f4f4;
}
.box {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
}
a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
}